.flex1 {
  flex: 1;
}

.image {
  width: "100%";
  height: auto;
  padding: 20px;
  object-fit: contain;
  overflow: hidden;
  flex: 1;
}

.container {
  margin: 50px 150px;
  padding: 50px 30px;
  flex: 1;
  display: flex;
  border-radius: 5px;
  border: solid 0.2px #d1d1d1;
}

.input {
  display: flex;
  flex-direction: column;
}
